
.css-12xagqm-MuiSwitchBase-root{
    width: 10% !important;
}

.payment-main-container{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 10px 20px !important;
    padding-top: 130px !important;
    width: 100% !important;
    max-width: 100vw !important;
    box-sizing: border-box !important;
}
.payment-container-section{
    margin: 0 !important;
    height: 100% !important;
    width: 100% !important;
    max-width: 600px !important;
    overflow: hidden !important;
    box-sizing: border-box !important;
}
.payment-header{
    width: 100% !important;
    box-sizing: border-box !important;
}
.payment-totalAmount{
    max-width: 600px !important;
    justify-self: center !important;
    /* margin-top: 100px !important; */
    /* padding: 0 !important; */
}


 .css-1g6u9pa-MuiFormControlLabel-root{
        margin-left: -5px !important;
        /* margin-right: 5px !important; */
    }

@media screen and (min-width: 2000px) {  
    .payment-totalAmount{
        min-height: 300px !important;
        max-width: 700px !important;
    }
     
}
@media screen and (min-width: 750px) {
    .horizantal_divider{
        margin-bottom: 150px !important;
    }
    .payment-container-section{
        max-width: 100% !important;
    }
    .payment-header{
        margin-top: 50px !important;
    }
    .payment_backBTN{
        width: 50px !important;
        height: 50px !important;
    }
}

/* @media screen and (á¹ƒin-width: 1024px) {
    

} */
@media screen and (max-width: 750px) {
.payment-main-container{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 10px 15px !important;
    padding-top: 130px !important;
    width: 100% !important;
    max-width: 100vw !important;
    overflow-x: hidden !important;
    box-sizing: border-box !important;
}
.payment-container-section{
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}
.horizantal_divider{
    margin-bottom: 20px !important;
}
.payment-totalAmount{
    min-width: 0px !important ;
    max-width: 100% !important;
}
}

@media screen and (max-width: 600px) {
    .Membership_logout > *{
        display: inline !important;
    }
    .Membership_logout{
        display: flex !important;
        flex-direction: row !important;
    }
      .css-1g6u9pa-MuiFormControlLabel-root{
        margin-left: -1px !important;
        /* margin-right: 5px !important; */
    }
}
@media screen and (max-width: 420px) {
    .form-container {
        padding-left : 10px !important;
        padding-right : 10px !important;
    
    }
    .logout-btn{
        padding:'7px 15px' !important;
    }
    .Balance-container{
        display: block !important;
    }
    .add-btn-section{
        flex-direction: row-reverse !important;
        justify-content: space-between !important;
    }
    .signUp_image_sec{
        transform: scale(1.2);
    }
    .section-container{
    overflow: hidden !important;
}

}


@media screen and (min-width: 315px) {
    .css-1x4vy50-MuiInputBase-root-MuiInput-root{
        padding-right: 10px !important;
    }
    .css-1g6u9pa-MuiFormControlLabel-root{
        margin-left: -5px !important;
        /* margin-right: 5px !important; */
    }
}
@media screen and (max-width: 350px) {
    .main-form-container {
        padding: 0px !important;
    
    }
    .form-container {
        padding: 5px !important;
    }
  
    
}